USE [master]
GO
/****** Object:  Database [EscuelaDB]    Script Date: 23/12/2025 10:00:21 a. m. ******/
CREATE DATABASE [EscuelaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EscuelaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EscuelaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EscuelaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EscuelaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EscuelaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EscuelaDB]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 23/12/2025 10:00:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[DocumentNumber] [varchar](20) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentXSubject]    Script Date: 23/12/2025 10:00:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentXSubject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_StudentXSubject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 23/12/2025 10:00:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[Credits] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 23/12/2025 10:00:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[EntryDate] [date] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [FirstName], [LastName], [DocumentNumber], [Email], [Address], [Phone], [City], [Password], [UserName], [Active], [CreationDate]) VALUES (1, N'Andres', N'Gomez', N'123485957910', N'a@a.net', N'CL 1 2 4', N'678597398', N'Bogota', N'c775e7b757ede630cd0aa1113bd102661ab38829ca52a6422ab782862f268646', N'agomez', 1, CAST(N'2025-12-23T01:32:45.627' AS DateTime))
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentXSubject] ON 

INSERT [dbo].[StudentXSubject] ([Id], [StudentId], [SubjectId], [Active], [CreationDate]) VALUES (2, 1, 1, 1, CAST(N'2025-12-23T00:00:00.000' AS DateTime))
INSERT [dbo].[StudentXSubject] ([Id], [StudentId], [SubjectId], [Active], [CreationDate]) VALUES (3, 1, 5, 1, CAST(N'2025-12-23T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[StudentXSubject] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([Id], [Name], [Description], [Credits], [TeacherId], [CreationDate], [Active]) VALUES (1, N'Materia 1', N'Materia 1', 3, 1, CAST(N'2022-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Subject] ([Id], [Name], [Description], [Credits], [TeacherId], [CreationDate], [Active]) VALUES (2, N'Materia 2', N'Materia 2', 3, 2, CAST(N'2022-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Subject] ([Id], [Name], [Description], [Credits], [TeacherId], [CreationDate], [Active]) VALUES (3, N'Materia 3', N'Materia 3', 3, 2, CAST(N'2022-01-01T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([Id], [Name], [EntryDate], [Active]) VALUES (1, N'Alberto Sánchez', CAST(N'2024-01-10' AS Date), 1)
INSERT [dbo].[Teacher] ([Id], [Name], [EntryDate], [Active]) VALUES (2, N'Carlos Barajas', CAST(N'2024-07-01' AS Date), 1)
INSERT [dbo].[Teacher] ([Id], [Name], [EntryDate], [Active]) VALUES (3, N'Natalia Páez', CAST(N'2023-01-08' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Teacher] OFF
GO
ALTER TABLE [dbo].[StudentXSubject]  WITH CHECK ADD  CONSTRAINT [FK_StudentXSubject_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[StudentXSubject] CHECK CONSTRAINT [FK_StudentXSubject_Student]
GO
ALTER TABLE [dbo].[StudentXSubject]  WITH CHECK ADD  CONSTRAINT [FK_StudentXSubject_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[StudentXSubject] CHECK CONSTRAINT [FK_StudentXSubject_Subject]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teacher] ([Id])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Teacher]
GO
USE [master]
GO
