<div class="card-container">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title> Información de usuario</mat-card-title>            
        </mat-card-header>  
        <mat-card-content>                        
                <mat-label>Usuario:</mat-label>&nbsp;
                <mat-label>{{ user.userName }}</mat-label>
            <br />            
                <mat-label>Nombre:</mat-label>&nbsp;
                <mat-label>{{ user.firstName }} {{user.lastName}}</mat-label>
            <br />            
                <mat-label>Número de documento:</mat-label>&nbsp;
                <mat-label>{{ user.documentNumber }}</mat-label>
            <br />
                <mat-label>Dirección:</mat-label>&nbsp;
                <mat-label>{{ user.address }}</mat-label>
            <br />
                <mat-label>Teléfono:</mat-label>&nbsp;
                <mat-label>{{ user.phone }}</mat-label>
            <br />
                <mat-label>E-mail:</mat-label>&nbsp;
                <mat-label>{{ user.email }}</mat-label>
            <br />
                    
        </mat-card-content>  
    </mat-card>    
</div>
<br />
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Asignatura</th>
                <th>Descripción</th>
                <th>Profesor</th>
                <th>Créditos</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(item of lstStudentSubjects; track item.id){ 
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.teacher.name}}</td>
                <td>{{item.credits}}</td>                
                <td>
                    <button class="btn btn-info" (click)="Detail(item.id)">                        
                        <span>Detalle</span>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<br />
<div class="table">
    <div class="row">
        <div class="col-md-3">
            <mat-label>Tiene {{ currentCredits }} de {{ totalCredits }} créditos posibles</mat-label>
        </div>        
        <div class="col-md-3">
            <button class="button btn btn-primary" (click)="CheckSubjects()">Agregar o eliminar asignaturas</button>
        </div>                
    </div>    
</div>
@if(showSubjects){
    <div >
        <mat-selection-list  [(ngModel)]="selectedSubjects" (selectionChange)="onSelectionChange($event)">
            @for (item of lstSubjects; track item) {
                <mat-list-option [value]="item.id">{{item.name}} - {{item.teacher.name}}</mat-list-option>                                
            }
        </mat-selection-list>
        <button class="button btn btn-primary" (click)="SaveSubjects()")>Guardar</button>
    </div>
}

